<% const d = new Date() 
let year = d.getFullYear()%>
<footer>
  <p>&copy; <%= new Date().getFullYear() %> CSE Motors. All rights reserved.</p>
  <p><a href="/cause-error">Simular error 500</a></p>
</footer>
